<div class="card posicion">
    <div class="card-body">
        <div class="text-center">
            <h4 class="card-title position_center">Registrarse</h4>
        </div>
        <p>Hello {{username}}!</p>
        <form [formGroup]="registroForm" (ngSubmit)="onSubmit(registroForm.value)">
            <div class="md-form">
                <input [(ngModel)]="username" [formControl]="registroForm.get('nombre_input')" mdbActive type="text" id="nombre_input" class="form-control">
                <label for="nombre_input" class="">Nombre</label>
            </div>
              <div class="md-form">
                <input [formControl]="registroForm.get('correo_input')" mdbActive type="email" id="correo_input" class="form-control">
                <label for="correo_input" class="">Correo</label>
            </div>
    
            <div class="md-form">
                <input [formControl]="registroForm.get('password_input')" mdbActive type="password" id="password_input" class="form-control">
                <label for="password_input" class="">Contraseña</label>
            </div>
            <div class="md-form">
                <label for="country_input" class="">País</label><br><br>
                <select class="mdb-select" id="country_input" class="form-control" [formControl]="registroForm.get('country_input')" [(ngModel)]="this.primerPais">
                    <option *ngFor="let c of this.countries" 
                    value="{{c.name}}">{{c.name}}</option>
                </select>
                
            </div>
            
    
            <button type="button" class="btn btn-primary btn-rounded waves-light full" mdbRippleRadius 
            [routerLink]="['/login']">Cancelar</button>
            <button type="submit" class="btn btn-primary btn-rounded waves-light full" mdbRippleRadius>Aceptar</button>       
        </form>
</div>
</div>